<div class="col-xs-12 col-md-12">
	<div class="col-xs-6 col-md-6">
		<h2>Add a Game</h2>
		<form novalidate="novalidate" name="addGame">
			<div class="form-group">
				<label for="gameTitle">Game Title</label>
				<input type="text" class="form-control" name="gameTitle" ng-model="game.title" required="required">
			</div>
			<div class="form-group">
				<label for="gameDescription">Game Description</label>
				<input type="text" class="form-control" name="gameDescription" ng-model="game.description" required="required">
			</div>
	    	<div class="form-group">
	    		<label for="gameDev">Developer</label>
	    		<input type="text" class="form-control" name="gameDev" ng-model="game.developer" required="required">
	    	</div>
	    	<div class="form-group">
	    		<label for="gameComsole">Console</label>
	    		<input type="text" class="form-control" name="gameConsole" ng-model="game.console" required="required">
	    	</div>
	    	<div class="form-group">
	    		<label for="gameRelease">Release Date</label>
	    		<input type="date" class="form-control" name="gameRelease" ng-model="game.release" required="required">
	    	</div>
	    	<div class="form-group" ng-show="error">
	    		<span class="text-danger"><strong>{{error}}</strong></span>
	    	</div>
	    	<div class="form-group">
	    		<button class="btn btn-success pull-right" ng-click="createGame()">Add</button>
	    	</div>
		</form>
	</div>
	<div class="col-xs-6 col-md-6" ng-show="games.length > 0">
		<h2>Game Library</h2>
		<table class="table table-hover">
			<tr>
			    <th>Game Title</th>
			    <th>Game Developer</th>
			    <th>Game Console</th>
            </tr>
            <tr ng-repeat="game in games track by $index">
            	<td><a ng-href="./practicaa/detail/{{game.title}}">{{game.title}}</a></td>
            	<td>{{game.developer}}</td>
            	<td>{{game.console}}</td>
            </tr>
		</table>
	</div>
</div>